# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Data files
data/

# Log files and temp files
*.log
*.tmp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Python egg files
*.egg-info/
*.egg

# Requirements backups
pip-log.txt

# Environment variables
.env